
.portbody{
    /* border:3px solid rgb(36,182,36); */
   
}
/* nav bar section start */
.navbarsection{
    /* border:3px solid red; */
}
.navbar {
    /* background-color: #ffffff; */
    /* border:3px solid pink; */
  }
  .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1rem;
    /* border:px solid red; */
  }
  @media screen and (min-width: 1024px) {
  .navbar-nav .nav-item {
    padding: 0 .5rem;
  }
}
@media screen and (min-width: 1024px) {
    .navbar-brand {
      font-size: 1.5rem;
    }
  }
  /* nav bar section end */
                         /* into secction start  */
section.introsection {
    padding-top: 72px;
    /* background-color: #ecf2ff; */
    /* border:3px solid blue; */
  }
  @media screen and (max-width: 576px) {
    section.introsection {
      text-align: center;
    }
    section.introsecction .img-fluid {
      width: 80%;
      
    }
  }
.introtext{
    /* border:3px solid yellow; */
    padding-top:95px;
   
}
.introimage{
     /* border:3px solid orangered;  */
     
} 
/* this code is applicable to all the sections in the page */
 section [class^="container"] {
    padding: 4rem 2rem;
  }
  @media screen and (min-width: 1024px) {
    section [class^="container"] {
      padding: 4rem;
    }
    nav [class^="container"] {
      padding: 0 4rem;
    }
  }
  /* all section cod end */


  /* intro section end */

                                  /*about section   start*/
    section.aboutsection{
        /* border:3px dashed #8a08ae; */
        padding-top: 72px;
        /* background-color: #ecf2ff */
    }
    /* @media screen and (max-width: 576px) {
      section.aboutsection {
        text-align: center;
      }
      section.aboutsection .img-fluid {
        width: 80%;
        
      }
    } */
    /* contact page start */
     /* section.contactsection{
      border:3px solid #e7600c;
     }
     .contactinfo{
      border:3px solid #60c41890;
     }
     .contactform{
      border:3px solid yellowgreen;
     }
     section.skillsection{
      border:3px dashed yellow;
     } */